html {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: fit-content;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #be3144;
  padding: 15px;
  gap: 20px;
  width: 98%;
  position: fixed;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 113%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  color: #fff;
}

.h1 {
  font-size: 6rem;
}

h2 {
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
}

footer p {
  justify-content: flex-end;
  font-size: 20px;color: #fff;

}

.welcome-section p {
  color: #be3144;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  width: 111%;
}

* {
  box-sizing: inherit;
}

section {
  display: block;
}

section {
  display: block;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

img {
  width: 400px;
  height: 400px;
}

.project-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto ;
  margin-bottom: auto;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 112%;
  height: 80vh;
  background:#303841;
}


footer {
  font-weight: 100;
  width: 108%;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: #303841;
  border-top: 4px solid rgb(red);
  margin-top: -2px;
}

.contact-section-header > h2 {
  font-size: 4rem;
  color: #fff;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 108%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

@media screen and (max-width: 700px) {
 img {
    width:100%;
}
}

@media screen and (max-width: 500px) {
 welcome-section {
  width:113%;
    }
}
